# Ignore everything by default
*

# Git Info
!.gitconfig
!.gitignore
!.gitexcludes

!theme
!theme/mori.zsh-theme
!theme/dir_colors

!system
!system/.alias
!system/.custom
!system/.env
!system/.zshrc

!bin
!bin/qwe.sh

!deployDotfiles.sh
!installPrereqs.sh